.row_poster::-webkit-scrollbar {
  display: none;
}
.row_poster {
  display: flex;
  overflow-y: hidden;
  flex-flow: nowrap !important;
}
.img_poster {
  width: 250px;
  margin-right: 8px;
  padding: 5px;
  transition: transform 450ms;
}
.movie_title {
  font-size: 15px;
  text-align: center;
}
